<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="rowIndices">
            <entry key="array-size" type="xint" value="220"/>
            <entry key="0" type="xint" value="0"/>
            <entry key="1" type="xint" value="0"/>
            <entry key="2" type="xint" value="1"/>
            <entry key="3" type="xint" value="1"/>
            <entry key="4" type="xint" value="2"/>
            <entry key="5" type="xint" value="2"/>
            <entry key="6" type="xint" value="3"/>
            <entry key="7" type="xint" value="3"/>
            <entry key="8" type="xint" value="4"/>
            <entry key="9" type="xint" value="4"/>
            <entry key="10" type="xint" value="5"/>
            <entry key="11" type="xint" value="5"/>
            <entry key="12" type="xint" value="6"/>
            <entry key="13" type="xint" value="6"/>
            <entry key="14" type="xint" value="7"/>
            <entry key="15" type="xint" value="7"/>
            <entry key="16" type="xint" value="8"/>
            <entry key="17" type="xint" value="8"/>
            <entry key="18" type="xint" value="9"/>
            <entry key="19" type="xint" value="9"/>
            <entry key="20" type="xint" value="10"/>
            <entry key="21" type="xint" value="10"/>
            <entry key="22" type="xint" value="11"/>
            <entry key="23" type="xint" value="11"/>
            <entry key="24" type="xint" value="12"/>
            <entry key="25" type="xint" value="12"/>
            <entry key="26" type="xint" value="13"/>
            <entry key="27" type="xint" value="13"/>
            <entry key="28" type="xint" value="14"/>
            <entry key="29" type="xint" value="14"/>
            <entry key="30" type="xint" value="15"/>
            <entry key="31" type="xint" value="15"/>
            <entry key="32" type="xint" value="16"/>
            <entry key="33" type="xint" value="16"/>
            <entry key="34" type="xint" value="17"/>
            <entry key="35" type="xint" value="17"/>
            <entry key="36" type="xint" value="18"/>
            <entry key="37" type="xint" value="18"/>
            <entry key="38" type="xint" value="19"/>
            <entry key="39" type="xint" value="19"/>
            <entry key="40" type="xint" value="20"/>
            <entry key="41" type="xint" value="20"/>
            <entry key="42" type="xint" value="21"/>
            <entry key="43" type="xint" value="21"/>
            <entry key="44" type="xint" value="22"/>
            <entry key="45" type="xint" value="22"/>
            <entry key="46" type="xint" value="23"/>
            <entry key="47" type="xint" value="23"/>
            <entry key="48" type="xint" value="24"/>
            <entry key="49" type="xint" value="24"/>
            <entry key="50" type="xint" value="25"/>
            <entry key="51" type="xint" value="25"/>
            <entry key="52" type="xint" value="26"/>
            <entry key="53" type="xint" value="26"/>
            <entry key="54" type="xint" value="27"/>
            <entry key="55" type="xint" value="27"/>
            <entry key="56" type="xint" value="28"/>
            <entry key="57" type="xint" value="28"/>
            <entry key="58" type="xint" value="29"/>
            <entry key="59" type="xint" value="29"/>
            <entry key="60" type="xint" value="30"/>
            <entry key="61" type="xint" value="30"/>
            <entry key="62" type="xint" value="31"/>
            <entry key="63" type="xint" value="31"/>
            <entry key="64" type="xint" value="32"/>
            <entry key="65" type="xint" value="32"/>
            <entry key="66" type="xint" value="33"/>
            <entry key="67" type="xint" value="33"/>
            <entry key="68" type="xint" value="34"/>
            <entry key="69" type="xint" value="34"/>
            <entry key="70" type="xint" value="35"/>
            <entry key="71" type="xint" value="35"/>
            <entry key="72" type="xint" value="36"/>
            <entry key="73" type="xint" value="36"/>
            <entry key="74" type="xint" value="37"/>
            <entry key="75" type="xint" value="37"/>
            <entry key="76" type="xint" value="38"/>
            <entry key="77" type="xint" value="38"/>
            <entry key="78" type="xint" value="39"/>
            <entry key="79" type="xint" value="39"/>
            <entry key="80" type="xint" value="40"/>
            <entry key="81" type="xint" value="40"/>
            <entry key="82" type="xint" value="41"/>
            <entry key="83" type="xint" value="41"/>
            <entry key="84" type="xint" value="42"/>
            <entry key="85" type="xint" value="42"/>
            <entry key="86" type="xint" value="43"/>
            <entry key="87" type="xint" value="43"/>
            <entry key="88" type="xint" value="44"/>
            <entry key="89" type="xint" value="44"/>
            <entry key="90" type="xint" value="45"/>
            <entry key="91" type="xint" value="45"/>
            <entry key="92" type="xint" value="46"/>
            <entry key="93" type="xint" value="46"/>
            <entry key="94" type="xint" value="47"/>
            <entry key="95" type="xint" value="47"/>
            <entry key="96" type="xint" value="48"/>
            <entry key="97" type="xint" value="48"/>
            <entry key="98" type="xint" value="49"/>
            <entry key="99" type="xint" value="49"/>
            <entry key="100" type="xint" value="50"/>
            <entry key="101" type="xint" value="50"/>
            <entry key="102" type="xint" value="51"/>
            <entry key="103" type="xint" value="51"/>
            <entry key="104" type="xint" value="52"/>
            <entry key="105" type="xint" value="52"/>
            <entry key="106" type="xint" value="53"/>
            <entry key="107" type="xint" value="53"/>
            <entry key="108" type="xint" value="54"/>
            <entry key="109" type="xint" value="54"/>
            <entry key="110" type="xint" value="55"/>
            <entry key="111" type="xint" value="55"/>
            <entry key="112" type="xint" value="56"/>
            <entry key="113" type="xint" value="56"/>
            <entry key="114" type="xint" value="57"/>
            <entry key="115" type="xint" value="57"/>
            <entry key="116" type="xint" value="58"/>
            <entry key="117" type="xint" value="58"/>
            <entry key="118" type="xint" value="59"/>
            <entry key="119" type="xint" value="59"/>
            <entry key="120" type="xint" value="60"/>
            <entry key="121" type="xint" value="60"/>
            <entry key="122" type="xint" value="61"/>
            <entry key="123" type="xint" value="61"/>
            <entry key="124" type="xint" value="62"/>
            <entry key="125" type="xint" value="62"/>
            <entry key="126" type="xint" value="63"/>
            <entry key="127" type="xint" value="63"/>
            <entry key="128" type="xint" value="64"/>
            <entry key="129" type="xint" value="64"/>
            <entry key="130" type="xint" value="65"/>
            <entry key="131" type="xint" value="65"/>
            <entry key="132" type="xint" value="66"/>
            <entry key="133" type="xint" value="66"/>
            <entry key="134" type="xint" value="67"/>
            <entry key="135" type="xint" value="67"/>
            <entry key="136" type="xint" value="68"/>
            <entry key="137" type="xint" value="68"/>
            <entry key="138" type="xint" value="69"/>
            <entry key="139" type="xint" value="69"/>
            <entry key="140" type="xint" value="70"/>
            <entry key="141" type="xint" value="70"/>
            <entry key="142" type="xint" value="71"/>
            <entry key="143" type="xint" value="71"/>
            <entry key="144" type="xint" value="72"/>
            <entry key="145" type="xint" value="72"/>
            <entry key="146" type="xint" value="73"/>
            <entry key="147" type="xint" value="73"/>
            <entry key="148" type="xint" value="74"/>
            <entry key="149" type="xint" value="74"/>
            <entry key="150" type="xint" value="75"/>
            <entry key="151" type="xint" value="75"/>
            <entry key="152" type="xint" value="76"/>
            <entry key="153" type="xint" value="76"/>
            <entry key="154" type="xint" value="77"/>
            <entry key="155" type="xint" value="77"/>
            <entry key="156" type="xint" value="78"/>
            <entry key="157" type="xint" value="78"/>
            <entry key="158" type="xint" value="79"/>
            <entry key="159" type="xint" value="79"/>
            <entry key="160" type="xint" value="80"/>
            <entry key="161" type="xint" value="80"/>
            <entry key="162" type="xint" value="81"/>
            <entry key="163" type="xint" value="81"/>
            <entry key="164" type="xint" value="82"/>
            <entry key="165" type="xint" value="82"/>
            <entry key="166" type="xint" value="83"/>
            <entry key="167" type="xint" value="83"/>
            <entry key="168" type="xint" value="84"/>
            <entry key="169" type="xint" value="84"/>
            <entry key="170" type="xint" value="85"/>
            <entry key="171" type="xint" value="85"/>
            <entry key="172" type="xint" value="86"/>
            <entry key="173" type="xint" value="86"/>
            <entry key="174" type="xint" value="87"/>
            <entry key="175" type="xint" value="87"/>
            <entry key="176" type="xint" value="88"/>
            <entry key="177" type="xint" value="88"/>
            <entry key="178" type="xint" value="89"/>
            <entry key="179" type="xint" value="89"/>
            <entry key="180" type="xint" value="90"/>
            <entry key="181" type="xint" value="90"/>
            <entry key="182" type="xint" value="91"/>
            <entry key="183" type="xint" value="91"/>
            <entry key="184" type="xint" value="92"/>
            <entry key="185" type="xint" value="92"/>
            <entry key="186" type="xint" value="93"/>
            <entry key="187" type="xint" value="93"/>
            <entry key="188" type="xint" value="94"/>
            <entry key="189" type="xint" value="94"/>
            <entry key="190" type="xint" value="95"/>
            <entry key="191" type="xint" value="95"/>
            <entry key="192" type="xint" value="96"/>
            <entry key="193" type="xint" value="96"/>
            <entry key="194" type="xint" value="97"/>
            <entry key="195" type="xint" value="97"/>
            <entry key="196" type="xint" value="98"/>
            <entry key="197" type="xint" value="98"/>
            <entry key="198" type="xint" value="99"/>
            <entry key="199" type="xint" value="99"/>
            <entry key="200" type="xint" value="100"/>
            <entry key="201" type="xint" value="100"/>
            <entry key="202" type="xint" value="101"/>
            <entry key="203" type="xint" value="101"/>
            <entry key="204" type="xint" value="102"/>
            <entry key="205" type="xint" value="102"/>
            <entry key="206" type="xint" value="103"/>
            <entry key="207" type="xint" value="103"/>
            <entry key="208" type="xint" value="104"/>
            <entry key="209" type="xint" value="104"/>
            <entry key="210" type="xint" value="105"/>
            <entry key="211" type="xint" value="105"/>
            <entry key="212" type="xint" value="106"/>
            <entry key="213" type="xint" value="106"/>
            <entry key="214" type="xint" value="107"/>
            <entry key="215" type="xint" value="107"/>
            <entry key="216" type="xint" value="108"/>
            <entry key="217" type="xint" value="108"/>
            <entry key="218" type="xint" value="109"/>
            <entry key="219" type="xint" value="109"/>
        </config>
        <config key="columnIndices">
            <entry key="array-size" type="xint" value="220"/>
            <entry key="0" type="xint" value="0"/>
            <entry key="1" type="xint" value="1"/>
            <entry key="2" type="xint" value="0"/>
            <entry key="3" type="xint" value="1"/>
            <entry key="4" type="xint" value="0"/>
            <entry key="5" type="xint" value="1"/>
            <entry key="6" type="xint" value="0"/>
            <entry key="7" type="xint" value="1"/>
            <entry key="8" type="xint" value="0"/>
            <entry key="9" type="xint" value="1"/>
            <entry key="10" type="xint" value="0"/>
            <entry key="11" type="xint" value="1"/>
            <entry key="12" type="xint" value="0"/>
            <entry key="13" type="xint" value="1"/>
            <entry key="14" type="xint" value="0"/>
            <entry key="15" type="xint" value="1"/>
            <entry key="16" type="xint" value="0"/>
            <entry key="17" type="xint" value="1"/>
            <entry key="18" type="xint" value="0"/>
            <entry key="19" type="xint" value="1"/>
            <entry key="20" type="xint" value="0"/>
            <entry key="21" type="xint" value="1"/>
            <entry key="22" type="xint" value="0"/>
            <entry key="23" type="xint" value="1"/>
            <entry key="24" type="xint" value="0"/>
            <entry key="25" type="xint" value="1"/>
            <entry key="26" type="xint" value="0"/>
            <entry key="27" type="xint" value="1"/>
            <entry key="28" type="xint" value="0"/>
            <entry key="29" type="xint" value="1"/>
            <entry key="30" type="xint" value="0"/>
            <entry key="31" type="xint" value="1"/>
            <entry key="32" type="xint" value="0"/>
            <entry key="33" type="xint" value="1"/>
            <entry key="34" type="xint" value="0"/>
            <entry key="35" type="xint" value="1"/>
            <entry key="36" type="xint" value="0"/>
            <entry key="37" type="xint" value="1"/>
            <entry key="38" type="xint" value="0"/>
            <entry key="39" type="xint" value="1"/>
            <entry key="40" type="xint" value="0"/>
            <entry key="41" type="xint" value="1"/>
            <entry key="42" type="xint" value="0"/>
            <entry key="43" type="xint" value="1"/>
            <entry key="44" type="xint" value="0"/>
            <entry key="45" type="xint" value="1"/>
            <entry key="46" type="xint" value="0"/>
            <entry key="47" type="xint" value="1"/>
            <entry key="48" type="xint" value="0"/>
            <entry key="49" type="xint" value="1"/>
            <entry key="50" type="xint" value="0"/>
            <entry key="51" type="xint" value="1"/>
            <entry key="52" type="xint" value="0"/>
            <entry key="53" type="xint" value="1"/>
            <entry key="54" type="xint" value="0"/>
            <entry key="55" type="xint" value="1"/>
            <entry key="56" type="xint" value="0"/>
            <entry key="57" type="xint" value="1"/>
            <entry key="58" type="xint" value="0"/>
            <entry key="59" type="xint" value="1"/>
            <entry key="60" type="xint" value="0"/>
            <entry key="61" type="xint" value="1"/>
            <entry key="62" type="xint" value="0"/>
            <entry key="63" type="xint" value="1"/>
            <entry key="64" type="xint" value="0"/>
            <entry key="65" type="xint" value="1"/>
            <entry key="66" type="xint" value="0"/>
            <entry key="67" type="xint" value="1"/>
            <entry key="68" type="xint" value="0"/>
            <entry key="69" type="xint" value="1"/>
            <entry key="70" type="xint" value="0"/>
            <entry key="71" type="xint" value="1"/>
            <entry key="72" type="xint" value="0"/>
            <entry key="73" type="xint" value="1"/>
            <entry key="74" type="xint" value="0"/>
            <entry key="75" type="xint" value="1"/>
            <entry key="76" type="xint" value="0"/>
            <entry key="77" type="xint" value="1"/>
            <entry key="78" type="xint" value="0"/>
            <entry key="79" type="xint" value="1"/>
            <entry key="80" type="xint" value="0"/>
            <entry key="81" type="xint" value="1"/>
            <entry key="82" type="xint" value="0"/>
            <entry key="83" type="xint" value="1"/>
            <entry key="84" type="xint" value="0"/>
            <entry key="85" type="xint" value="1"/>
            <entry key="86" type="xint" value="0"/>
            <entry key="87" type="xint" value="1"/>
            <entry key="88" type="xint" value="0"/>
            <entry key="89" type="xint" value="1"/>
            <entry key="90" type="xint" value="0"/>
            <entry key="91" type="xint" value="1"/>
            <entry key="92" type="xint" value="0"/>
            <entry key="93" type="xint" value="1"/>
            <entry key="94" type="xint" value="0"/>
            <entry key="95" type="xint" value="1"/>
            <entry key="96" type="xint" value="0"/>
            <entry key="97" type="xint" value="1"/>
            <entry key="98" type="xint" value="0"/>
            <entry key="99" type="xint" value="1"/>
            <entry key="100" type="xint" value="0"/>
            <entry key="101" type="xint" value="1"/>
            <entry key="102" type="xint" value="0"/>
            <entry key="103" type="xint" value="1"/>
            <entry key="104" type="xint" value="0"/>
            <entry key="105" type="xint" value="1"/>
            <entry key="106" type="xint" value="0"/>
            <entry key="107" type="xint" value="1"/>
            <entry key="108" type="xint" value="0"/>
            <entry key="109" type="xint" value="1"/>
            <entry key="110" type="xint" value="0"/>
            <entry key="111" type="xint" value="1"/>
            <entry key="112" type="xint" value="0"/>
            <entry key="113" type="xint" value="1"/>
            <entry key="114" type="xint" value="0"/>
            <entry key="115" type="xint" value="1"/>
            <entry key="116" type="xint" value="0"/>
            <entry key="117" type="xint" value="1"/>
            <entry key="118" type="xint" value="0"/>
            <entry key="119" type="xint" value="1"/>
            <entry key="120" type="xint" value="0"/>
            <entry key="121" type="xint" value="1"/>
            <entry key="122" type="xint" value="0"/>
            <entry key="123" type="xint" value="1"/>
            <entry key="124" type="xint" value="0"/>
            <entry key="125" type="xint" value="1"/>
            <entry key="126" type="xint" value="0"/>
            <entry key="127" type="xint" value="1"/>
            <entry key="128" type="xint" value="0"/>
            <entry key="129" type="xint" value="1"/>
            <entry key="130" type="xint" value="0"/>
            <entry key="131" type="xint" value="1"/>
            <entry key="132" type="xint" value="0"/>
            <entry key="133" type="xint" value="1"/>
            <entry key="134" type="xint" value="0"/>
            <entry key="135" type="xint" value="1"/>
            <entry key="136" type="xint" value="0"/>
            <entry key="137" type="xint" value="1"/>
            <entry key="138" type="xint" value="0"/>
            <entry key="139" type="xint" value="1"/>
            <entry key="140" type="xint" value="0"/>
            <entry key="141" type="xint" value="1"/>
            <entry key="142" type="xint" value="0"/>
            <entry key="143" type="xint" value="1"/>
            <entry key="144" type="xint" value="0"/>
            <entry key="145" type="xint" value="1"/>
            <entry key="146" type="xint" value="0"/>
            <entry key="147" type="xint" value="1"/>
            <entry key="148" type="xint" value="0"/>
            <entry key="149" type="xint" value="1"/>
            <entry key="150" type="xint" value="0"/>
            <entry key="151" type="xint" value="1"/>
            <entry key="152" type="xint" value="0"/>
            <entry key="153" type="xint" value="1"/>
            <entry key="154" type="xint" value="0"/>
            <entry key="155" type="xint" value="1"/>
            <entry key="156" type="xint" value="0"/>
            <entry key="157" type="xint" value="1"/>
            <entry key="158" type="xint" value="0"/>
            <entry key="159" type="xint" value="1"/>
            <entry key="160" type="xint" value="0"/>
            <entry key="161" type="xint" value="1"/>
            <entry key="162" type="xint" value="0"/>
            <entry key="163" type="xint" value="1"/>
            <entry key="164" type="xint" value="0"/>
            <entry key="165" type="xint" value="1"/>
            <entry key="166" type="xint" value="0"/>
            <entry key="167" type="xint" value="1"/>
            <entry key="168" type="xint" value="0"/>
            <entry key="169" type="xint" value="1"/>
            <entry key="170" type="xint" value="0"/>
            <entry key="171" type="xint" value="1"/>
            <entry key="172" type="xint" value="0"/>
            <entry key="173" type="xint" value="1"/>
            <entry key="174" type="xint" value="0"/>
            <entry key="175" type="xint" value="1"/>
            <entry key="176" type="xint" value="0"/>
            <entry key="177" type="xint" value="1"/>
            <entry key="178" type="xint" value="0"/>
            <entry key="179" type="xint" value="1"/>
            <entry key="180" type="xint" value="0"/>
            <entry key="181" type="xint" value="1"/>
            <entry key="182" type="xint" value="0"/>
            <entry key="183" type="xint" value="1"/>
            <entry key="184" type="xint" value="0"/>
            <entry key="185" type="xint" value="1"/>
            <entry key="186" type="xint" value="0"/>
            <entry key="187" type="xint" value="1"/>
            <entry key="188" type="xint" value="0"/>
            <entry key="189" type="xint" value="1"/>
            <entry key="190" type="xint" value="0"/>
            <entry key="191" type="xint" value="1"/>
            <entry key="192" type="xint" value="0"/>
            <entry key="193" type="xint" value="1"/>
            <entry key="194" type="xint" value="0"/>
            <entry key="195" type="xint" value="1"/>
            <entry key="196" type="xint" value="0"/>
            <entry key="197" type="xint" value="1"/>
            <entry key="198" type="xint" value="0"/>
            <entry key="199" type="xint" value="1"/>
            <entry key="200" type="xint" value="0"/>
            <entry key="201" type="xint" value="1"/>
            <entry key="202" type="xint" value="0"/>
            <entry key="203" type="xint" value="1"/>
            <entry key="204" type="xint" value="0"/>
            <entry key="205" type="xint" value="1"/>
            <entry key="206" type="xint" value="0"/>
            <entry key="207" type="xint" value="1"/>
            <entry key="208" type="xint" value="0"/>
            <entry key="209" type="xint" value="1"/>
            <entry key="210" type="xint" value="0"/>
            <entry key="211" type="xint" value="1"/>
            <entry key="212" type="xint" value="0"/>
            <entry key="213" type="xint" value="1"/>
            <entry key="214" type="xint" value="0"/>
            <entry key="215" type="xint" value="1"/>
            <entry key="216" type="xint" value="0"/>
            <entry key="217" type="xint" value="1"/>
            <entry key="218" type="xint" value="0"/>
            <entry key="219" type="xint" value="1"/>
        </config>
        <config key="values">
            <entry key="array-size" type="xint" value="220"/>
            <entry key="0" type="xstring" value="Åland Islands"/>
            <entry key="1" type="xstring" value="AX"/>
            <entry key="2" type="xstring" value="Albania"/>
            <entry key="3" type="xstring" value="AL"/>
            <entry key="4" type="xstring" value="Andorra"/>
            <entry key="5" type="xstring" value="AD"/>
            <entry key="6" type="xstring" value="Argentina"/>
            <entry key="7" type="xstring" value="AR"/>
            <entry key="8" type="xstring" value="Australia"/>
            <entry key="9" type="xstring" value="AU"/>
            <entry key="10" type="xstring" value="Austria"/>
            <entry key="11" type="xstring" value="AT"/>
            <entry key="12" type="xstring" value="Bahamas"/>
            <entry key="13" type="xstring" value="BS"/>
            <entry key="14" type="xstring" value="Barbados"/>
            <entry key="15" type="xstring" value="BB"/>
            <entry key="16" type="xstring" value="Belarus"/>
            <entry key="17" type="xstring" value="BY"/>
            <entry key="18" type="xstring" value="Belgium"/>
            <entry key="19" type="xstring" value="BE"/>
            <entry key="20" type="xstring" value="Belize"/>
            <entry key="21" type="xstring" value="BZ"/>
            <entry key="22" type="xstring" value="Benin"/>
            <entry key="23" type="xstring" value="BJ"/>
            <entry key="24" type="xstring" value="Bolivia"/>
            <entry key="25" type="xstring" value="BO"/>
            <entry key="26" type="xstring" value="Bosnia and Herzegovina"/>
            <entry key="27" type="xstring" value="BA"/>
            <entry key="28" type="xstring" value="Botswana"/>
            <entry key="29" type="xstring" value="BW"/>
            <entry key="30" type="xstring" value="Brazil"/>
            <entry key="31" type="xstring" value="BR"/>
            <entry key="32" type="xstring" value="Bulgaria"/>
            <entry key="33" type="xstring" value="BG"/>
            <entry key="34" type="xstring" value="Canada"/>
            <entry key="35" type="xstring" value="CA"/>
            <entry key="36" type="xstring" value="Chile"/>
            <entry key="37" type="xstring" value="CL"/>
            <entry key="38" type="xstring" value="China"/>
            <entry key="39" type="xstring" value="CN"/>
            <entry key="40" type="xstring" value="Colombia"/>
            <entry key="41" type="xstring" value="CO"/>
            <entry key="42" type="xstring" value="Costa Rica"/>
            <entry key="43" type="xstring" value="CR"/>
            <entry key="44" type="xstring" value="Croatia"/>
            <entry key="45" type="xstring" value="HR"/>
            <entry key="46" type="xstring" value="Cuba"/>
            <entry key="47" type="xstring" value="CU"/>
            <entry key="48" type="xstring" value="Cyprus"/>
            <entry key="49" type="xstring" value="CY"/>
            <entry key="50" type="xstring" value="Czechia"/>
            <entry key="51" type="xstring" value="CZ"/>
            <entry key="52" type="xstring" value="Denmark"/>
            <entry key="53" type="xstring" value="DK"/>
            <entry key="54" type="xstring" value="Dominican Republic"/>
            <entry key="55" type="xstring" value="DO"/>
            <entry key="56" type="xstring" value="Ecuador"/>
            <entry key="57" type="xstring" value="EC"/>
            <entry key="58" type="xstring" value="Egypt"/>
            <entry key="59" type="xstring" value="EG"/>
            <entry key="60" type="xstring" value="El Salvador"/>
            <entry key="61" type="xstring" value="SV"/>
            <entry key="62" type="xstring" value="Estonia"/>
            <entry key="63" type="xstring" value="EE"/>
            <entry key="64" type="xstring" value="Faroe Islands"/>
            <entry key="65" type="xstring" value="FO"/>
            <entry key="66" type="xstring" value="Finland"/>
            <entry key="67" type="xstring" value="FI"/>
            <entry key="68" type="xstring" value="France"/>
            <entry key="69" type="xstring" value="FR"/>
            <entry key="70" type="xstring" value="Gabon"/>
            <entry key="71" type="xstring" value="GA"/>
            <entry key="72" type="xstring" value="Gambia"/>
            <entry key="73" type="xstring" value="GM"/>
            <entry key="74" type="xstring" value="Germany"/>
            <entry key="75" type="xstring" value="DE"/>
            <entry key="76" type="xstring" value="Gibraltar"/>
            <entry key="77" type="xstring" value="GI"/>
            <entry key="78" type="xstring" value="Greece"/>
            <entry key="79" type="xstring" value="GR"/>
            <entry key="80" type="xstring" value="Greenland"/>
            <entry key="81" type="xstring" value="GR"/>
            <entry key="82" type="xstring" value="Grenada"/>
            <entry key="83" type="xstring" value="GD"/>
            <entry key="84" type="xstring" value="Guatemala"/>
            <entry key="85" type="xstring" value="GT"/>
            <entry key="86" type="xstring" value="Guernsey"/>
            <entry key="87" type="xstring" value="GG"/>
            <entry key="88" type="xstring" value="Guyana"/>
            <entry key="89" type="xstring" value="GY"/>
            <entry key="90" type="xstring" value="Haiti"/>
            <entry key="91" type="xstring" value="HT"/>
            <entry key="92" type="xstring" value="Honduras"/>
            <entry key="93" type="xstring" value="HN"/>
            <entry key="94" type="xstring" value="Hungary"/>
            <entry key="95" type="xstring" value="HU"/>
            <entry key="96" type="xstring" value="Iceland"/>
            <entry key="97" type="xstring" value="IS"/>
            <entry key="98" type="xstring" value="Indonesia"/>
            <entry key="99" type="xstring" value="ID"/>
            <entry key="100" type="xstring" value="Ireland"/>
            <entry key="101" type="xstring" value="IE"/>
            <entry key="102" type="xstring" value="Isle of Man"/>
            <entry key="103" type="xstring" value="IM"/>
            <entry key="104" type="xstring" value="Italy"/>
            <entry key="105" type="xstring" value="IT"/>
            <entry key="106" type="xstring" value="Jamaica"/>
            <entry key="107" type="xstring" value="JM"/>
            <entry key="108" type="xstring" value="Japan"/>
            <entry key="109" type="xstring" value="JP"/>
            <entry key="110" type="xstring" value="Jersey"/>
            <entry key="111" type="xstring" value="JE"/>
            <entry key="112" type="xstring" value="Latvia"/>
            <entry key="113" type="xstring" value="LV"/>
            <entry key="114" type="xstring" value="Lesotho"/>
            <entry key="115" type="xstring" value="LS"/>
            <entry key="116" type="xstring" value="Liechtenstein"/>
            <entry key="117" type="xstring" value="LI"/>
            <entry key="118" type="xstring" value="Lithuania"/>
            <entry key="119" type="xstring" value="LT"/>
            <entry key="120" type="xstring" value="Luxembourg"/>
            <entry key="121" type="xstring" value="LU"/>
            <entry key="122" type="xstring" value="Madagascar"/>
            <entry key="123" type="xstring" value="MG"/>
            <entry key="124" type="xstring" value="Malta"/>
            <entry key="125" type="xstring" value="MT"/>
            <entry key="126" type="xstring" value="Mexico"/>
            <entry key="127" type="xstring" value="MX"/>
            <entry key="128" type="xstring" value="Moldova"/>
            <entry key="129" type="xstring" value="MD"/>
            <entry key="130" type="xstring" value="Monaco"/>
            <entry key="131" type="xstring" value="MC"/>
            <entry key="132" type="xstring" value="Mongolia"/>
            <entry key="133" type="xstring" value="MN"/>
            <entry key="134" type="xstring" value="Montenegro"/>
            <entry key="135" type="xstring" value="ME"/>
            <entry key="136" type="xstring" value="Montserrat"/>
            <entry key="137" type="xstring" value="MS"/>
            <entry key="138" type="xstring" value="Morocco"/>
            <entry key="139" type="xstring" value="MA"/>
            <entry key="140" type="xstring" value="Mozambique"/>
            <entry key="141" type="xstring" value="MZ"/>
            <entry key="142" type="xstring" value="Namibia"/>
            <entry key="143" type="xstring" value="NA"/>
            <entry key="144" type="xstring" value="Netherlands"/>
            <entry key="145" type="xstring" value="NL"/>
            <entry key="146" type="xstring" value="New Zealand"/>
            <entry key="147" type="xstring" value="NZ"/>
            <entry key="148" type="xstring" value="Nicaragua"/>
            <entry key="149" type="xstring" value="NI"/>
            <entry key="150" type="xstring" value="Niger"/>
            <entry key="151" type="xstring" value="NE"/>
            <entry key="152" type="xstring" value="Nigeria"/>
            <entry key="153" type="xstring" value="NG"/>
            <entry key="154" type="xstring" value="North Macedonia"/>
            <entry key="155" type="xstring" value="MK"/>
            <entry key="156" type="xstring" value="Norway"/>
            <entry key="157" type="xstring" value="NO"/>
            <entry key="158" type="xstring" value="Panama"/>
            <entry key="159" type="xstring" value="PA"/>
            <entry key="160" type="xstring" value="Papua New Guinea"/>
            <entry key="161" type="xstring" value="PG"/>
            <entry key="162" type="xstring" value="Paraguay"/>
            <entry key="163" type="xstring" value="PY"/>
            <entry key="164" type="xstring" value="Peru"/>
            <entry key="165" type="xstring" value="PE"/>
            <entry key="166" type="xstring" value="Poland"/>
            <entry key="167" type="xstring" value="PL"/>
            <entry key="168" type="xstring" value="Portugal"/>
            <entry key="169" type="xstring" value="PT"/>
            <entry key="170" type="xstring" value="Puerto Rico"/>
            <entry key="171" type="xstring" value="PR"/>
            <entry key="172" type="xstring" value="Romania"/>
            <entry key="173" type="xstring" value="RO"/>
            <entry key="174" type="xstring" value="Russia"/>
            <entry key="175" type="xstring" value="RU"/>
            <entry key="176" type="xstring" value="San Marino"/>
            <entry key="177" type="xstring" value="SM"/>
            <entry key="178" type="xstring" value="Serbia"/>
            <entry key="179" type="xstring" value="RS"/>
            <entry key="180" type="xstring" value="Singapore"/>
            <entry key="181" type="xstring" value="SG"/>
            <entry key="182" type="xstring" value="Slovakia"/>
            <entry key="183" type="xstring" value="SK"/>
            <entry key="184" type="xstring" value="Slovenia"/>
            <entry key="185" type="xstring" value="SI"/>
            <entry key="186" type="xstring" value="South Africa"/>
            <entry key="187" type="xstring" value="ZA"/>
            <entry key="188" type="xstring" value="South Korea"/>
            <entry key="189" type="xstring" value="KR"/>
            <entry key="190" type="xstring" value="Spain"/>
            <entry key="191" type="xstring" value="ES"/>
            <entry key="192" type="xstring" value="Suriname"/>
            <entry key="193" type="xstring" value="SR"/>
            <entry key="194" type="xstring" value="Svalbard and Jan Mayen"/>
            <entry key="195" type="xstring" value="SJ"/>
            <entry key="196" type="xstring" value="Sweden"/>
            <entry key="197" type="xstring" value="SE"/>
            <entry key="198" type="xstring" value="Switzerland"/>
            <entry key="199" type="xstring" value="CH"/>
            <entry key="200" type="xstring" value="Tunisia"/>
            <entry key="201" type="xstring" value="TN"/>
            <entry key="202" type="xstring" value="Turkey"/>
            <entry key="203" type="xstring" value="TR"/>
            <entry key="204" type="xstring" value="Ukraine"/>
            <entry key="205" type="xstring" value="UA"/>
            <entry key="206" type="xstring" value="United Kingdom"/>
            <entry key="207" type="xstring" value="GB"/>
            <entry key="208" type="xstring" value="United States"/>
            <entry key="209" type="xstring" value="US"/>
            <entry key="210" type="xstring" value="Uruguay"/>
            <entry key="211" type="xstring" value="UY"/>
            <entry key="212" type="xstring" value="Vatican City"/>
            <entry key="213" type="xstring" value="VA"/>
            <entry key="214" type="xstring" value="Venezuela"/>
            <entry key="215" type="xstring" value="VE"/>
            <entry key="216" type="xstring" value="Vietnam"/>
            <entry key="217" type="xstring" value="VN"/>
            <entry key="218" type="xstring" value="Zimbabwe"/>
            <entry key="219" type="xstring" value="ZW"/>
        </config>
        <entry key="rowIdPrefix" type="xstring" value="Row"/>
        <entry key="rowIdSuffix" type="xstring" value=""/>
        <entry key="rowIdStartValue" type="xint" value="0"/>
        <entry key="highlightOutputTable" type="xboolean" value="false"/>
        <config key="columnProperties">
            <config key="0">
                <entry key="UserSetValues" type="xboolean" value="true"/>
                <entry key="MissValuePattern" type="xstring" value=""/>
                <entry key="FormatParameter" type="xstring" isnull="true" value=""/>
                <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
                <entry key="SkipThisColumn" type="xboolean" value="false"/>
                <entry key="ColumnName" type="xstring" value="Country Name"/>
                <config key="ColumnClass">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
            </config>
            <config key="1">
                <entry key="UserSetValues" type="xboolean" value="true"/>
                <entry key="MissValuePattern" type="xstring" value=""/>
                <entry key="FormatParameter" type="xstring" isnull="true" value=""/>
                <entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
                <entry key="SkipThisColumn" type="xboolean" value="false"/>
                <entry key="ColumnName" type="xstring" value="Country Code"/>
                <config key="ColumnClass">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="country codes"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="128"/>
        <entry key="y-coordinate" type="xint" value="199"/>
        <entry key="width" type="xint" value="104"/>
        <entry key="height" type="xint" value="13"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="11"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.io.tablecreator.TableCreator2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Table Creator"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.1.v202308221556"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.1.1.v202308221556"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Table Creator"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 110, Cols: 2"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="fbe24a4b-81b3-4e2f-a093-ce97bcd70c1b"/>
    </config>
</config>
